<form action="<%= session_url %>" method="post">
  <%= auth_token %>

  <label>Username
    <input type="text" name="user[username]"></label>

    <label>Password
      <input type="password" name="user[password]"></label>

    <input type="submit" value="Sign in">

</form>