<form action="<%= path %>" method="post">
  <% if link.persisted? %>
    <input type="hidden" name="_method" value="PUT">
  <% end %>
  <%= auth_token %>

  <label>Title
  <input type="text" name="link[title]" value=<%= link.title %>></label>
  <br>
  <br>
  <label>URL
  <input type="text" name="link[url]" value=<%= link.url %>></label>
    <br>
    <br>
    <label>Body
    <input type="text" name="link[body]" value="<%= link.body %>"></label>
    <br>

    <input type="hidden" name="link[sub_ids][]" value="">
    Subs:<br>
    <% @subs.each do |sub| %>
    <label><input type="checkbox" name="link[sub_ids][]" value="<%= sub.id %>"
      <%= sub.links.include?(link) ? "checked" : "" %>
      ><%= sub.name %></label><br>
    <% end %>
    <input type="submit">

</form>