<!--
#  id             :integer          not null, primary key
#  contributor_id :integer
#  title          :string(255)      not null
#  url            :string(255)
#  body           :text
#  created_at     :datetime         not null
#  updated_at     :datetime         not null-->
<h1> Create New Link</h1>


<%= render "form", link: @link, subs: @subs, path: links_url %>