<h1><%= @link.title %></h1>
votes: <%= @link.net_votes %>
<br>
<%= render "link_view", link: @link %>
<br>
<% if link_contributor? %>
  <%= link_to "Edit Link", edit_link_url(@link) %>
<% end %>

<% if link_contributor? || link_moderator? %>
<%= button_to "Delete Link", link_url(@link), method: :delete %>
<% end %>