
<h1> Edit Sub</h1>
<form action="<%= sub_url(@sub) %>" method="post">
  <input type="hidden" name="_method" value="put">
  <%= auth_token %>

  <label>Sub Name<input type="text" name="sub[name]" value="<%= @sub.name %>">
  </label>

  <input type="submit" value="Edit sub">

</form>