
<h1> Create Sub</h1>
<form action="<%= subs_url %>" method="post">
  <%= auth_token %>

  <label>Sub Name<input type="text" name="sub[name]" value="<%= @sub.name %>">
  </label>

  <input type="hidden" name="sub[moderator_id]" value="<%= current_user.id %>">

  <h3> Add Links </h3>
  <% @sub.links.each_with_index do |link,n| %>
  <h4>Link <%= n+1 %></h4>
  <label>Title
  <input type="text" name="link[<%= link.object_id %>][title]" value="<%= link.title %>">
  </label><br>

  <label>URL (optional)
  <input type="text" name="link[<%= link.object_id %>][url]" value="<%= link.url %>">
  </label><br>

  <label>Body (optional)
  <input type="text" name="link[<%= link.object_id %>][body]" value="<%= link.body %>">
  </label><br>

  <input type="hidden" name="link[<%= link.object_id %>][contributor_id]" value="<%= current_user.id %>">

  <% end %>

  <input type="submit" value="Create sub">

</form>