<h1><%= @sub.name %></h1>
<% if subs_moderator? %>
<%= link_to "Edit sub", edit_sub_url(@sub) %> | <%= button_to "Delete sub", sub_url(@sub), method: :delete %>
<% end %>

<p>moderated by <%= @sub.moderator.username %></p>
<ul>
  <% @links.each do |link| %>
  <li><%= render "links/link_view", link: link %>
    <%= button_to "Remove link", link_url(link), method: :delete if subs_moderator? %>
  </li>
  <% end %>
</ul>
