<!DOCTYPE html>
<html>
<head>
  <title>RedditClone</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= flash[:errors] if flash[:errors] %>
  <% if current_user %>
  <%= "logged in as: #{current_user.username}"%>
  <%= button_to "logout", session_url, method: :delete %>
  <% else %>
  <%= link_to "sign in", new_session_url %>
  <%= link_to "sign up", new_user_url %>
  <% end %>

<%= yield %>

</body>
</html>
